@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Heebo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
*/

body::-webkit-scrollbar {
  display: none;
}

.Wrapper{
  position: relative;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px ;
  width: 300px;
  position: relative;
}


.Logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  margin: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.Logo img{
  width: 200px;
  object-fit: contain;
  object-position: center;
}

.Logo svg{
  display: none;
  cursor: pointer;
}

.Navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #000000f3;
  padding: 10px 10px;
  overflow: scroll;
  z-index: 4;
}

.Navigation::-webkit-scrollbar {
  display: none;
}

.List_Wrap{
  margin: 80px 0 5px 0;
}

.Wrap {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.Wrap li{
  padding: 0 0 10px 0;
}

.Wrap a{
  color: #fff;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.Nav_Parent,
.Nav_Parent2{
  position: relative;
  cursor: pointer;
}

.Nav_Parent svg,
.Nav_Parent2 svg{
 position: absolute;
 top: 5px;
 right: 10px;
 color: #fff;
 width: 15px;
 transform: rotate(0deg); 
 transition: transform 0.3s ease-in-out;
}

.Nav_Parent svg.rotate-clockwise,
.Nav_Parent2 svg.rotate-clockwise{
  transform: rotate(180deg); 
}

.Nav_Parent svg.rotate-anticlockwise,
.Nav_Parent2 svg.rotate-anticlockwise{
  transform: rotate(0); 
}

.Nav_Child,
.Nav_Child2{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.Nav_Child li a,
.Nav_Child2 li a{
  font-size: .8rem;
}

.Nav_Child li a:hover,
.Nav_Child2 li a:hover{
  text-decoration: underline;
}

.Nav_Child.Activate{
   max-height: 100px;
   padding: 10px 0;
 }

.Nav_Child2.Activate{
   max-height: 250px;
   padding: 10px 0;
 }

.Auth_Wrap{
  left: 10px;
}

.User{
  position: relative;
  top: -20px;
  padding: 0 10px 0 305px;
}

.User_Auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px ;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
}

.User_Auth2{
  margin: 0 0 50px 0;
}

.User_Auth h3{
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  margin: 0 20px 0 0;
}

.User_Auth svg{
  width: 30px;
  cursor: pointer;
}

.User_Verified,
.User_Verified2{
  background-color: #000;
  padding: 0 10px;
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 1;
  border-radius: 3px;
  transition: .3s ease-in-out;
  height: 0;
  overflow: hidden;
}

.User_Verified.Activate{
  height: 40px;
}

.User_Verified2.Activate{
  height: 20px;
}

.User_Verified ul,
.User_Verified2 ul{
  list-style: none;
}

.User_Verified ul li,
.User_Verified2 ul li{
  text-align: center;
}

.User_Verified ul li a,
.User_Verified2 ul li a{
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: .85rem;
  color: #fff;
  text-transform: uppercase;
}

.User_Verified ul li a:hover,
.User_Verified2 ul li a:hover{
 text-decoration: underline;
}


.Data_Wrapper{
  margin: 80px auto;
}

.wel_msg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: 'Heebo', sans-serif;
  margin: 10px 0 35px 0;
}

.Welcome_Message h3{
  font-size: 2.2rem;
  text-align: center;
}

.Welcome_Message p{
  font-size: 1rem;
  text-align: center;
}

.Inner_Message{
  width: 80%;
  margin: 0 auto 20px auto;
}

.Inner_Message h3{
  font-size: 1.4rem;
  text-align: center;
}

.Inner_Message p{
  text-align: center;
}

.Inner_Message button{
  margin: 30px 0;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #000;
}

.Inner_Message button a{
  color: #fff;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

.Feature p{
  text-align: center;
}

.Data_Wrapper > h3{
  font-family: 'Heebo', sans-serif;
  font-size: 1.4rem;
  text-align: center;
  margin: 5px 0 20px 0;
}

.Data_Grid_Wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:auto ;
}

.Data_Grid_Info{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #000000e5;
  margin: 5px 0;
  border-radius: 4px;
}

.Meta_Data{
  padding: 1px 10px;
}

.Data_Grid_Info a{
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.Data_Grid_Info a:hover{
  text-decoration: underline;
}

.Data_Grid_Info img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.Flex, .S_Flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.S_Flex svg{
  width: 20px;
 margin-right: 5px;
}

.Ua_Bookmark{
  color: #fab804;
}

.Ua_Love{
  color: #fd0101;
}

.Ua_Comment{
  color: #0105fd;
}

.Meta_Info  h3{
  font-size: .8rem;
  font-family: 'Heebo', sans-serif;
}

.Data_Grid_Social{
  padding: 7px 0 2px 0;
}

.Socials h3  {
 font-size: .8rem;
 font-family: 'Heebo', sans-serif;
}

.Footer{
  background-color: #000;
  width: 100%;
  padding: 0 10px 0 305px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.Footer h2{
  color: #fff;
  font-size: 1rem;
  font-family: 'Heebo', sans-serif;
  margin: 15px 0 10px 0;
}

.Footer h3{
  color: #fff;
  font-size: 1rem;
  font-family: 'Heebo', sans-serif;
  margin:10px 0;
}

.Footer_Socials a{
  text-decoration: none;
}


.Footer_Socials svg{
  width:20px ;
  color: #fff;
}


.Form_Wrapper{
  width: 50%;
  margin:  70px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000e5;
}


.Form_Wrapper h1{
  text-transform: uppercase;
  font-size: 1rem;
  font-family: 'Heebo', sans-serif;
  color: #fff;
  margin-top: 1em;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  border-radius: .2em;
  padding: .7em 2em;
}

form input{
  padding: 10px 15px ;
  background: #fff ;
  margin: .5em 0;
  border: none;
  border-radius: 2px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
}

form input:focus{
 outline:none;
 background-color: #fff;
}

form.submitted input:invalid{
border-color: #ee0707;
}

form small{
display: block;
font-family: 'Heebo', sans-serif;
font-weight: 900;
}

::placeholder{
  color: #000;
}

.pwd_flex{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: center;
  align-items: center;
}

.pwd_flex .Pwd{
  width: 100%;
}

.pwd_flex .Show_Password{
  width: 15%;
  padding: .9em 0;;
  position: absolute;
  right: 1%;
  background-color: transparent;
  border: none;
 
}

.pwd_flex .Show_Password i{
 font-size: 1.5rem;
 color: #000;
 cursor: pointer;
}

.btn{
  margin: .7em 0;
  padding:7px 15px ;
  background-color: #fff;
  color: #000;
  margin: .5em 0;
  border-radius: 2px ;
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.Form_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0 0 0;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-links p, 
.form-links a{
  color: #fff;
  text-transform: capitalize;
  font-family: 'Heebo', sans-serif;
}

.form-links  a:hover{
 text-decoration: underline;
}

.Error_Wrapper{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background: #ee0707;
      padding:.3em;
      border-radius: .2em;
      width:100%;
      margin: .2em auto;
    }
  
    .Error_Wrapper.remove{
      display: none;
    }
  
    .Error_Wrapper ul{
      list-style: none;
    }

    .Error_Wrapper li{
      font-family: 'Heebo', sans-serif;
      color: #030303;
      font-weight: 900;
      font-size: .7rem;
    }
  
    .Error_Wrapper i{
      color: #030303;
      font-size: .8rem;
      cursor: pointer;
    }

.Password_Validation{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: .2em;
  padding: .3em .5em;
  transition: .5s ease-in-out;
}

.Password_Ban{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: .2em;
  margin-bottom: .3em;
}


.Ban_Content,
.Validation_Content{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .2em .5em;

}

.Validation_Content button{
background-color: transparent;
border: none;
}

.Validation_Content  i {
  margin-right: 1em;
  color: #ee0707;
  font-size:1.1rem ;
  transition: .5s ease-in-out;
}

.Validation_Content i .Marked{
  color: #02fc24;
}

.Ban_Content i {
  margin-right: 1em;
  color: #ff5100;
}

.Ban_Content p{
  font-family: 'Heebo', sans-serif;
  text-transform: capitalize;
  color: #fff;
}

.Validation_Content p{
  font-family: 'Heebo', sans-serif;
  text-transform: capitalize;
  color: #fff;

}



@media screen and (max-width:1250px){

  nav{
    width:100%;
    height: auto;
  }

  .Logo{
    width: 100%;
    padding: 20px 10px;
  }

  .Logo svg{
    display: flex;
    width: 35px;
    color: #fff;
    cursor: pointer;
  }

  .Navigation{
    width: 100%;
    height: auto;
    left: -1250px;
    top: 0px;
    background-color: #000000f3;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
  }

  .Navigation.Activate{
    left: 0;
  }

  .User{
    padding: 70px 10px 0 15px;
  }

  .Footer{
    padding: 5px 10px 0 15px;
  }

  .User_Auth{
    top: 70px;
    right: 0;
  }

  /* .User_Verified{
    top: 110px;
  } */
  
  .Data_Wrapper{
    width: 95%;
  }

  .Data_Grid_Info{
    width: 98%;
  }

  .Form_Wrapper{
    width: 90%;
    margin:  0 auto;
  } 
  
}

@media screen and (max-width:950px){

  .Data_Grid_Wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width:600px){
  .Logo img{
    width: 150px;
    object-fit: contain;
    object-position: center;
  }

  .Logo svg{
    width: 30px;
  }

  .Data_Grid_Wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  .Welcome_Message h3{
    font-size: 1.6rem;
  }

  .Inner_Message h3{
    font-size: 1.2rem;
  }

  .wel_msg{
    width: 95%;
  }

  .Form_Wrapper{
    width: 100%;
    }
}


@media screen and (max-width:400px){
  .Welcome_Message h3{
    font-size: 1.3rem;
  }

  .Inner_Message h3{
    font-size: 1rem;
  }
}