@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Heebo', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Josefin Slab', serif;
*/

body::-webkit-scrollbar {
  display: none;
}

.Wrapper{
  position: relative;
  min-height: 100vh;
}

nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px ;
  width: 300px;
  position: relative;
}


.Logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #000;
  margin: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.Logo img{
  width: 200px;
  object-fit: contain;
  object-position: center;
}

.Logo svg{
  display: none;
  cursor: pointer;
}

.Navigation{
  position: fixed;
  width: 300px;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #000000f3;
  padding: 10px 10px;
  overflow: scroll;
  z-index: 4;
}

.Navigation::-webkit-scrollbar {
  display: none;
}

.List_Wrap{
  margin: 80px 0 5px 0;
}

.Wrap {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.Wrap li{
  padding: 0 0 10px 0;
}

.Wrap a{
  color: #fff;
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
}

.Nav_Parent,
.Nav_Parent2{
  position: relative;
  cursor: pointer;
}

.Nav_Parent svg,
.Nav_Parent2 svg{
 position: absolute;
 top: 5px;
 right: 10px;
 color: #fff;
 width: 15px;
 transform: rotate(0deg); 
 transition: transform 0.3s ease-in-out;
}

.Nav_Parent svg.rotate-clockwise,
.Nav_Parent2 svg.rotate-clockwise{
  transform: rotate(180deg); 
}

.Nav_Parent svg.rotate-anticlockwise,
.Nav_Parent2 svg.rotate-anticlockwise{
  transform: rotate(0); 
}

.Nav_Child,
.Nav_Child2{
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.Nav_Child li a,
.Nav_Child2 li a{
  font-size: .8rem;
}

.Nav_Child li a:hover,
.Nav_Child2 li a:hover{
  text-decoration: underline;
}

.Nav_Child.Activate{
   max-height: 100px;
   padding: 10px 0;
 }

.Nav_Child2.Activate{
   max-height: 250px;
   padding: 10px 0;
 }

.Auth_Wrap{
  left: 10px;
}

.User{
  position: relative;
  top: -20px;
  padding: 0 10px 0 305px;
}

.User_Auth{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px ;
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 2;
  background-color: #fff;
  width: 100%;
}

.User_Auth h3{
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  margin: 0 20px 0 0;
}

.User_Auth svg{
  width: 30px;
  cursor: pointer;
}

.User_Verified{
  background-color: #000;
  padding: 0 10px;
  position: absolute;
  right: 5px;
  top: 40px;
  z-index: 1;
  border-radius: 3px;
  transition: .3s ease-in-out;
  height: 0;
  overflow: hidden;
}

.User_Verified.Activate{
  height: 40px;
}

.User_Verified ul{
  list-style: none;
}

.User_Verified ul li{
  text-align: center;
}

.User_Verified ul li a{
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
  font-size: .85rem;
  color: #fff;
  text-transform: uppercase;
}

.User_Verified ul li a:hover{
 text-decoration: underline;
}

.Data_Wrapper{
  margin: 80px auto;
}

.Data_Wrapper > h3{
  font-family: 'Heebo', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin: 30px 0 20px 0;
}

.Data_Grid_Wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows:auto ;
}

.Data_Grid_Info{
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #000000e5;
  margin: 5px 0;
  border-radius: 4px;
}

.Meta_Data{
  padding: 1px 10px;
}

.Data_Grid_Info a{
  font-family: 'Heebo', sans-serif;
  font-size: .9rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.Data_Grid_Info a:hover{
  text-decoration: underline;
}

.Data_Grid_Info img{
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.Flex, .S_Flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.S_Flex svg{
  width: 20px;
 margin-right: 5px;
}

.Ua_Bookmark{
  color: #fab804;
}

.Ua_Love{
  color: #fd0101;
}

.Ua_Comment{
  color: #0105fd;
}

.Meta_Info  h3{
  font-size: .8rem;
  font-family: 'Heebo', sans-serif;
}

.Data_Grid_Social{
  padding: 7px 0 2px 0;
}

.Socials h3  {
 font-size: .8rem;
 font-family: 'Heebo', sans-serif;
}

@media screen and (max-width:1250px){

  nav{
    width:100%;
    height: auto;
  }

  .Logo{
    width: 100%;
    padding: 20px 10px;
  }

  .Logo svg{
    display: flex;
    width: 35px;
    color: #fff;
    cursor: pointer;
  }

  .Navigation{
    width: 100%;
    height: auto;
    left: -1250px;
    top: 0px;
    background-color: #000000f3;
    padding: 10px 15px;
    transition: all .5s ease-in-out;
  }

  .Navigation.Activate{
    left: 0;
  }

  .User{
    padding: 70px 10px 0 15px;
  }

  .User_Auth{
    top: 70px;
    right: 0;
  }
  /* .User_Verified{
    top: 110px;
  } */
  
  .Data_Wrapper{
    width: 95%;
  }

  .Data_Grid_Info{
    width: 98%;
  }
  
}

@media screen and (max-width:950px){

  .Data_Grid_Wrapper{
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width:600px){
  .Logo img{
    width: 150px;
    object-fit: contain;
    object-position: center;
  }

  .Logo svg{
    width: 30px;
  }

  .Data_Grid_Wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  

  
}
