{% include  'PassionPage_Users/Navigation.html' %}
    {% load static %}
    {% block content %}

    <div class="User">

        <div class="Data_Wrapper">  

            <div class="Welcome_Message wel_msg">
                <h3>Welcome to Passion Pages</h3>
                <p>Connecting You to the World's Stage, Experience the Pulse!</p>
            </div>

            <div class="Inner_Message wel_msg">
                <h3>Explore Your Passions with Passion Pages</h3>
                <p>
                    Delve into a vibrant realm of unique experiences through Passion Pages. Engage, discover, and connect with a diverse tapestry of passions tailored to your interests. Embrace your desires, explore uncharted territories, and join a community that celebrates what fuels your soul. Ignite your curiosity and indulge in an array of captivating experiences—all here at Passion Pages.
                </p>
                <div class="cta_Button">
                    <button> <a href="#"> Get Started Now</a> </button>
                </div>
            </div>

            <h3>Latest Posts</h3>

                <div class="Data_Grid_Wrapper">
                    <div class="Data_Grid_Info">
                    <img src="{% static 'PassionPage_Users/images/Grid_Images.jpg' %}" alt="Logo">

                        <div class="Meta_Data">
                            
                        <a href="#">Lorem ipsum, dolor sit amet...</a>

                        <div class="Data_Grid_Meta_Info Flex">
                            <div class="Meta_Info">
                                <h3>By Xhicko</h3>
                            </div>
                            <div class="Meta_Info">
                                <h3>Politics</h3>
                            </div>
                        </div>

                        <div class="Data_Grid_Social Flex">
                            <div class="Socials S_Flex">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmark-check-fill Ua_Bookmark" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3"/>
                                  </svg>
                                <h3>80</h3>
                            </div>

                            <div class="Socials S_Flex">
                                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-heart-fill Ua_Love" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                  </svg>
                                  <h3>103</h3>
                            </div>

                            <div class="Socials S_Flex">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chat-left-fill Ua_Comment" viewBox="0 0 16 16">
                                    <path d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                  </svg>
                                <h3>55</h3>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            
            <div class="Feature wel_msg">
                <h3>Feature</h3>
                <p>Passion Pages: A vivid tapestry of human zeal and diverse narratives. Explore and celebrate passions through captivating stories, connecting enthusiasts on an exhilarating journey of creativity and discovery.</p>
            </div>
        </div>
    </div>
 
    {% endblock %}
<!-- {% include  'PassionPage_Users/Footer.html' %} -->