{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>PassionPages</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static 'PassionPage_Users/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'PassionPage_Users/css/main.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <!-- script
    ================================================== -->
   
</head>

<body>

{% block content %}
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div id="top" class="s-wrap site-wrapper">

        <!-- site header
        ================================================== -->
        <header class="s-header">

            <div class="header__top">
                <div class="header__logo">
                    <a class="site-logo" href="index.html">
                        <img src="{% static 'PassionPage_Users/images/Logo_1.png' %}" alt="Logo">
                    </a>
                </div>

  
                <!-- toggles -->
                <a href="#0" class="header__menu-toggle"><span>Menu</span></a>

            </div> <!-- end header__top -->

            <nav class="header__nav-wrap">

                <ul class="header__nav">
                    <li class="current"><a href="index.html" title="">Home</a></li>

                    <li class="has-children">
                        <a href="#0" title="">Categories</a>
                        <ul class="sub-menu">
                        <li><a href="#">Politics</a></li>
                        </ul>
                    </li>

                    
                    <li><a href="#" title="">Favorites</a></li>

                    <li class="has-children">
                        <a href="#0" title="">Settings</a>
                        <ul class="sub-menu">
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Edit Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#">Delete Account</a></li>
                        </ul>
                    </li>

                    <li class="has-children">
                        <a href="#0" title="">Authentication</a>
                        <ul class="sub-menu">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Sign Up</a></li>
                        </ul>
                    </li>

                    <li><a href="#" title="">Log out</a></li>
                </ul> <!-- end header__nav -->

               

            </nav> <!-- end header__nav-wrap -->

            

        </header> <!-- end s-header -->


    </div> <!-- end s-wrap -->


    <!-- Java Script
    ================================================== -->
    <script src="{% static '/PassionPage_Users/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static '/PassionPage_Users/js/plugins.js' %}"></script>
    <script src="{% static '/PassionPage_Users/js/main.js' %}"></script>

{% endblock %}
</body>